/* yellow: #ECD078
orange: #D95B43
red: #C02942
purple: #542437
blue: #53777A */

.home {
  width: 100%;
  min-height: 100vh;
  background-color: #FDFDFD;
  position: absolute;
  top: 0;
  overflow-y: scroll;
}

.home .home-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px 20px;
}

.home .home-controls button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: lightgray
}

.home .home-controls button:hover {
  cursor: pointer;
}