.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #222222;
  z-index: 2;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 12px;
}