div.rightPanel {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100vh;
  background-color: #2222229c;
  padding-top: 40px;
}

div.option {
  width: 60px;
  height: 60px;
  // background-color: red;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.2)
}

div.option:hover {
  cursor: pointer;
}

div.option.selected {
  background-color: rgba(0,0,0,0.5);
}

div.option p {
  margin: 0;
  font-size: 12px;
}